.html {
  position: relative;
}

/* custom */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-cursor, *:hover {
  cursor: url('public/assets/cursor.png'), auto !important;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  height: 0;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #0f0c29;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  transform-origin: 0%;
}