@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "Peristiwa";
    src: url("./assets/SVN-Peristiwa.otf") format("OpenType");
  } */
  @font-face {
    font-family: 'times';
    src: url('./assets/fonts/times.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

/* add the code bellow */ 
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}